.nav{
    color: white;
    background-color: black;
    display: inline-block;
    padding: .5%;
    width: 14%;
    text-align: center;
}
#wholenav {
    background-color: gray;
}
.left {
    float: left;
    width: 30%;
    height: 750px;
    display: inline-block;
}
.right {
    float: left;
    width: 70%;
    background-color:teal;
    height: 750px;
    display: inline;
}
#top {
    width: 100%;
    background-color: orange;
    height: 30%;
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    font-size: large;
    padding: 5%;
}
#bottom {
    width: 100%;
    background-color: orangered;
    height: 70%;
}
img {
    height: 75%;
}
.sbText {
    padding: 5%;
    vertical-align: top;
}
